@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");

:root {
    color-scheme: dark;

    --noto-sans-font-family: 'Noto Sans', 'Noto Sans HK', 'Segoe UI Emoji', sans-serif;
}

* {
    transition: all 0.3s ease;
    scroll-behavior: smooth;
    box-sizing: border-box;
    interpolate-size: allow-keywords;

    /* DEBUG */
    outline: 1px solid #ffff0020;
}

body {
    background: #222426;
    color: #d3cfca;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100svh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        display: none;
    }
}

#__next {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &::-webkit-scrollbar {
        display: none;
    }
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        margin: var(--root-page-padding);

        &:hover {
            background-color: #55555744;
            border-radius: 10px;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: #555557;
        border-radius: 10px;

        &:hover {
            background-color: #7c7c7c;
        }
    }

    @media (hover: none) and (pointer: coarse) {
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}