.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.textarea {
    width: 500px;
    height: 400px;
    font-size: 16px;
    padding: 2px 5px;
    box-sizing: border-box;
    resize: none;
    font-family: var(--noto-sans-font-family);
    border-radius: 5px;
}

.inputWindow {
    height: 400px;
    width: 200px;
    font-size: 16px;
    color: #d3cfca;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .queryStrokes {
        font-weight: bold;
        width: 100%;
        line-height: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .queryResults {
        border-radius: 5px;
        background-color: #2c2e30;
        border: 1px solid #555557;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
        overflow-y: auto;

        .resultRow {
            height: 25px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;
            gap: 5px;

            .resultIndex {
                font-family: var(--noto-sans-mono-font-family);
                font-size: 14px;
                width: 20px;
                text-align: right;
                transition: none;

                &.resultIndexDisabled {
                    opacity: 0.2;
                }
            }

            .resultCharacter {
                font-weight: bold;
            }
        }
    }

}