.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.textarea {
    width: 500px;
    height: 400px;
    font-size: 16px;
    padding: 2px 5px;
    box-sizing: border-box;
    resize: none;
    font-family: var(--noto-sans-font-family);
    border-radius: 5px;
}