.keybindsInfo {
    --keySize: 35px;
    --smallKeyFontSize: 14px;
    --unusedKeyFontSize: 12px;
    --unusedKeyOpacity: 0.4;

    display: grid;
    grid-template-columns: repeat(4, var(--keySize));
    grid-template-rows: repeat(5, var(--keySize));
    gap: 5px;

    .key {
        border-radius: 4px;
        background-color: #2c2e30;
        border: 1px solid #555557;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: var(--noto-sans-font-family);
    }

    .numLock {
        grid-area: 1 / 1 / 2 / 2;
        font-size: var(--unusedKeyFontSize);
        opacity: var(--unusedKeyOpacity);
        border: none;
    }

    .divide {
        grid-area: 1 / 2 / 2 / 3;
        font-size: var(--unusedKeyFontSize);
        opacity: var(--unusedKeyOpacity);
        border: none;
    }

    .multiple {
        grid-area: 1 / 3 / 2 / 4;
        font-size: var(--unusedKeyFontSize);
        opacity: var(--unusedKeyOpacity);
        border: none;
    }

    .minus {
        grid-area: 1 / 4 / 2 / 5;
        font-size: var(--smallKeyFontSize);
    }

    .plus {
        grid-area: 2 / 4 / 4 / 5;
        font-size: var(--smallKeyFontSize);
    }

    .key1 {
        grid-area: 4 / 1 / 5 / 2;
        font-size: var(--unusedKeyFontSize);
        opacity: var(--unusedKeyOpacity);
        border: none;
    }

    .key2 {
        grid-area: 4 / 2 / 5 / 3;
        font-size: var(--unusedKeyFontSize);
        opacity: var(--unusedKeyOpacity);
        border: none;
    }

    .key3 {
        grid-area: 4 / 3 / 5 / 4;
        font-size: var(--unusedKeyFontSize);
        opacity: var(--unusedKeyOpacity);
        border: none;
    }

    .key4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .key5 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .key6 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .key7 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .key8 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .key9 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .key0 {
        grid-area: 5 / 1 / 6 / 3;
    }

    .dot {
        grid-area: 5 / 3 / 6 / 4;
        font-size: var(--unusedKeyFontSize);
        opacity: var(--unusedKeyOpacity);
        border: none;
    }

    .enter {
        grid-area: 4 / 4 / 6 / 5;
        font-size: var(--smallKeyFontSize);
    }
}